.background {
  background-image: url('https://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg');
  background-size: cover; /* To cover the entire area */
  background-repeat: no-repeat; /* No repeat */
  background-position: center center; /* Center the image */
  width: 100%; /* Full viewport width */
  height: 100%; /* Full viewport height */
}
